:root {
  --color-head: #4ac9dd;
  --color-text: #25241c;
  --color-iconic: #ffeb3b;
}

html {
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
  padding: 0;
}
.content {
  width: 1400px;
  margin: 0 auto;
  background-color: yellow;
}


.contacts-head{
    margin-left: 30px;
}
.position{
    margin-left: 30px;
    color: #25241c;
    font-size: xx-large;
}
.info{
    margin-left: 30px;

}
.name{
    color: #4ac9dd;
    margin-left: 30px;
}
.skills{
    margin-left: 30px;
}
.head-block{
    margin-left: 30px;
}
